.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.quantity {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
  border: 1px solid black;
  height: 300px;
  width: 200px;
  align-self: center;
  border-radius: 5px;
}

.quantity-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5em 0em;

  border: 1px solid rgb(70, 69, 69);
  color: black;
  width: 120px;
  border-radius: 5px;
}

.quantity-desc span {
  /* border: 1px solid rgb(70, 69, 69);
    color: black; */
  width: 120px;

  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addCarrito {
  border: 1px solid black;
  margin-bottom: 1em;
  /* margin-top: 1em; */
  width: 120px;
  box-sizing: border-box;
  font-size: 9pt;
  border-color: rgb(43, 201, 170);
  color: rgb(43, 201, 170);
  font-weight: 400;
  border-radius: 5px;
}

.incdec_button {
  color: rgb(43, 201, 170);
}

.container h1 {
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5em;
}

.container h3 {
  font-weight: bold;
}

.imagen-card {
  width: 175px;
  margin-bottom: 0.5rem;
}

.contStock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid black; */
  width: 120px;
  margin-bottom: 0.5em;
  font-size: small;
}

.contStock span:first-child {
  font-weight: bold;
  margin-right: 0.5em;
}

.counter {
  border: 1px solid black;
  display: flex;
  width: 250px;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.infoProducto {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenProducto {
  /* border: 1px solid red; */
}

.containerItemList {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* border: 1px solid aqua; */
}

.titleProd {
  /* border: 1px solid gray; */
  font-weight: bold;
}

.moreInfo {
  /* border: 1px solid slateblue; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

.moreInfo p {
  font-size: 9pt;
  text-align: center;
}

.itemDetailPrice {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.itemDetailPrice p {
  font-size: 14pt;
  font-weight: bold;
}

.buttonFrame {
  width: 90%;
  margin: 15px auto;
  text-align: center;
}

.buttonDetails{
  width: 110px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-4 {
  background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-4:hover{
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 0%;
  width: .1px;
}
.btn-4:after {
  width: 0%;
  height: .1px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: .1px;
  height: 0%;
}
.btn-4 span:after {
  width: 0%;
  height: .1px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}